* {
    box-sizing: border-box
}

.mySlides1,
.mySlides2 {
    display: none;
    border-radius: 10%;
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    max-height: 100%px;
}

.tituloOferta {
    font-size: 55px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(55, 111, 216);
    color: #f1f1f1;
    padding-top: 5px;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 25px;
    margin-top: -22px;
    background-color: rgb(71, 142, 160);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.ingresar-a {
    color: rgb(255, 255, 255);
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 20px;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    color: rgb(255, 255, 255);
}


/* On hover, add a grey background color */

.prev:hover,
.next:hover {
    background-color: rgb(15, 125, 199);
    color: rgb(252, 252, 252);
}

.stext-107 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.923;
}

.cl7 {
    color: #b2b2b2;
}

.bg3 {
    background-color: #212529;
}

.p-t-75,
.p-tb-75,
.p-all-75 {
    padding-top: 25px;
}

.p-b-32,
.p-tb-32,
.p-all-32 {
    padding-bottom: 15px;
}

.p-b-30,
.p-tb-30,
.p-all-30 {
    padding-bottom: 10px;
}

.p-b-50,
.p-tb-50,
.p-all-50 {
    padding-bottom: 50px;
}

.p-b-10,
.p-tb-10,
.p-all-10 {
    padding-bottom: 5px;
}

.fs-18 {
    font-size: 25px;
}

.p-t-27,
.p-tb-27,
.p-all-27 {
    padding-top: 5px;
}

.containerF {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 50px;
    width: 100%;
}

.containerPago {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: solid 12px #b4b4b4;
}

.ulf {
    margin: 0px;
}

.lif {
    margin: 0px;
    list-style-type: none;
}

.rowF {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-smF {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-lg-F {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.stext-301 {
    font-family: Helvetica;
    font-size: 20px;
    line-height: 1.6;
    text-transform: uppercase;
}

.stext-107 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.923;
}

.cl0 {
    color: #fff;
}

.cl7 {
    color: #b2b2b2;
}

.cl6 {
    color: #888;
}

.contenedorCompra {
    border: 3px solid #b4b4b4;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.trans-04 {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.size-201 {
    max-width: 270px;
}

.hov-cl1:hover {
    color: #717fe0;
}

.txt-center {
    text-align: center;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    color: rgb(255, 255, 255);
}


/* On hover, add a grey background color */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*para el icono de carrito*/

.icon-car {
    font-size: 25px;
}


/*para la vista metodo de pago*/

body {
    background: #f5f5f5
}

.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #555
}

.nav-pills .nav-link.active {
    color: white
}

.linea {
    border-top: 1px solid #b4b4b4;
}

input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}

.login-icon>a {
    width: 50px;
    color: #ffffff;
    /* margin-right: 15px; */
    padding-right: 15px;
}

.fa-arrow-circle-left {
    align-self: end;
    font-size: 28px;
    /* margin-left: 35px; */
}

.cliente {
    margin-right: 35px;
    color: #ffffff;
}

.container-total {
    margin: 20px 0 40px 0;
    text-align: center;
}